/3DModels/Basic components/OldVersions
/3DModels/OldVersions
/3DModels/Details to print/.ipt/OldVersions
/.idea
/Documentation/doxygen/tmp/
/Documentation/FinalReport/main.log
/Documentation/FinalReport/main.out
/Documentation/FinalReport/main.aux
/Documentation/FinalReport/main.synctex.gz
